.card {
    cursor: pointer;
}

.card-header {
    font-size: 1.2rem;
    background-color: var(--blue-3);
}

.img-wrapper {
    display: flex;
    justify-content: center;
    height: 15rem;
    width: 100%;
    background-color: #f6f6f6;
}

.img-wrapper img {
    max-height: 100%;   
    max-width: 180px; 
}