.navbar {
    background-color: var(--blue-1);
}

.img-wrapper {
    width: 4rem;
}

.img-wrapper img {
    max-width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: var(--blue-3);
}

.dropdown-item:active {
    background-color: var(--blue-1);
}

.btn-outline-light:has(~ .dropdown-menu:hover) {
    color: black;
    background-color: white;
}