<app-navbar name="Gabriel Neves"></app-navbar>
<div class="container">
    <form class="row p-5" [formGroup]="form">
        <div class="col-3 d-flex flex-column align-items-center justify-content-start">
            <div class="mb-3">
                <button class="book-img d-flex flex-column align-items-center justify-content-center">
                    <div class="img-wrapper">
                        <img src="/assets/icons/image.png" />
                    </div>
                </button>
            </div>
            <div class="mb-3">
                <app-rating [value]="form.get('rating')?.value" (valueChange)="form.get('rating')?.setValue($event)" />
            </div>
            <div class="mb-3">
                <select class="form-select" formControlName="status">
                    @for(status of bookStatus; track $index) {
                        <option [value]="status[0]" [selected]="$index == 0">{{ status[1] }}</option>
                    }
                </select>
            </div>
            <div class="d-flex mb-3">
                <button class="btn btn-secondary me-3" routerLink="/livros">Voltar</button>
                <button *ngIf="isEditMode()" class="btn btn-main">Editar</button>
            </div>
            <div *ngIf="isEditMode()" class="row">
                <button class="btn btn-danger">Excluir</button>
            </div>
        </div>
        <div class="col-9">
            <div class="mb-3">
                <input class="form-control w-100 text-center" [class.is-invalid]="isFieldInvalid('name')" type="text" placeholder="Nome do Livro" formControlName="name"/>
                @if(isFieldInvalid('name')) {
                    <div class="invalid-feedback">
                        {{ getMessageValidationError('name') }}
                    </div>
                }
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <input class="form-control w-100" [class.is-invalid]="isFieldInvalid('author')" type="text" placeholder="Autor(a)" list="authors" formControlName="author"/>
                    <datalist id="authors">
                        @for (author of authorPage.content; track $index) {
                            <option>{{ author.name }}</option>
                        }
                    </datalist>
                    @if(isFieldInvalid('author')) {
                        <div class="invalid-feedback">
                            {{ getMessageValidationError('author') }}
                        </div>
                    }
                </div>
                <div class="col-6">
                    <input class="form-control w-100" [class.is-invalid]="isFieldInvalid('language')" type="text" placeholder="Idioma" list="languages" formControlName="language"/>
                    <datalist id="languages">
                        @for (language of languagePage.content; track $index) {
                            <option>{{ language.name }}</option>
                        }
                    </datalist>
                    @if(isFieldInvalid('language')) {
                        <div class="invalid-feedback">
                            {{ getMessageValidationError('language') }}
                        </div>
                    }
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <input class="form-control w-100" [class.is-invalid]="isFieldInvalid('publisher')" type="text" placeholder="Editora" list="publishers" formControlName="publisher"/>
                    <datalist id="publishers">
                        @for (publisher of publisherPage.content; track $index) {
                            <option>{{ publisher.name }}</option>
                        }
                    </datalist>
                    @if(isFieldInvalid('publisher')) {
                        <div class="invalid-feedback">
                            {{ getMessageValidationError('publisher') }}
                        </div>
                    }
                </div>
                <div class="col-6">
                    <input class="form-control w-100" [class.is-invalid]="isFieldInvalid('pages')" placeholder="Páginas" type="text" formControlName="pages"/>
                    @if(isFieldInvalid('pages')) {
                        <div class="invalid-feedback">
                            {{ getMessageValidationError('pages') }}
                        </div>
                    }
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <input class="form-control w-100" [class.is-invalid]="isFieldInvalid('category')" type="text" placeholder="Categoria" list="categories" formControlName="category"/>
                    <datalist id="categories">
                        @for (category of categoryPage.content; track $index) {
                            <option>{{ category.name }}</option>
                        }
                    </datalist>
                    @if(isFieldInvalid('category')) {
                        <div class="invalid-feedback">
                            {{ getMessageValidationError('category') }}
                        </div>
                    }
                </div>
                <div class="col-6">
                    <input class="form-control w-100" [class.is-invalid]="isFieldInvalid('subcategory')" type="text" placeholder="Subcategoria" list="subcategories" formControlName="subcategory"/>
                    <datalist id="subcategories">
                        @for (subcategory of subcategoryPage.content; track $index) {
                            <option>{{ subcategory.name }}</option>
                        }
                    </datalist>
                    @if(isFieldInvalid('subcategory')) {
                        <div class="invalid-feedback">
                            {{ getMessageValidationError('subcategory') }}
                        </div>
                    }
                </div>
            </div>
            <div class="mb-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="!commenting" (click)="showDescriptionInput()">Descrição</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.active]="commenting" (click)="showComentInput()">Comentário</a>
                    </li>
                </ul>
                <div >
                    <div class="tab-content">
                        <div class="tab-pane" [class.active]="!commenting">
                            <textarea class="w-100" rows="12" formControlName="description"></textarea>
                        </div>
                        <div class="tab-pane" [class.active]="commenting">
                            <textarea class="w-100" rows="12" formControlName="comment"></textarea>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div *ngIf="!isEditMode()" class="d-flex justify-content-end">
                <button class="btn btn-main" (click)="save()">Salvar</button>
            </div>
        </div>
    </form>
</div>