.book-img {
    width: 14rem;
    height: 18rem;
    border: 2px dashed #CCC;
    border-radius: 1rem;
    background-color: white;
}

.img-wrapper {
    width: 5rem;
}

.img-wrapper img {
    max-width: 100%;
    filter: opacity(.8)
}

.nav-link {
    cursor: pointer;
    color: black;
    background-color: white;
    border-color: #dee2e6;
}

.nav-link.active {
    cursor: pointer;
    color: white;
    background-color: var(--blue-3);
    border-bottom: none;
}

textarea {
    resize: none;
    outline: none;
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-top: none;
}