<app-navbar></app-navbar>
<div class="container">
    <app-book-list-filter (filter)="filter($event)"></app-book-list-filter>
    <div class="mb-3">
        <button class="btn btn-main" routerLink="/livros/novo">Novo Livro</button>
    </div>
    <div class="row">
        @for (book of bookPage.content; track $index) {
            <div class="ap-col-5 ap-col-4 ap-col-3 ap-col-2 ap-col-1 mb-4">
                <app-book-list-item [book]="book"></app-book-list-item>
            </div>
        }
    </div>
</div>